body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: rgb(34, 163, 154); */
    /* background-color: rgba(34, 163, 154,0.4); */
    background-image: linear-gradient(#4AF0E4, #F0A883);
    /* background-image: url(../res/cool-background.png); */
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
    'header header'
    'nav article'
    'nav footer';
    gap: 1em;
    min-height: 100vh;
}

header, footer, nav, article {
    padding: 4px;
}

header {
    grid-area: header;
    background-color: aliceblue;
}

article {
    grid-area: article;
    background-color: aliceblue;
}

nav {
    grid-area: nav;
    background-color: aliceblue;
}

nav ul li {
    display: block;
}

footer {
    grid-area: footer;
    background-color: aliceblue;
}

