body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: rgb(34, 163, 154); */
    /* background-color: rgba(34, 163, 154,0.4); */
    /* background-image: linear-gradient(#4AF0E4, #F0A883); */
    background-image: url(../res/cool-background.png);
}